In [1]:
import pandas as pd

student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'], 
        'marks': [201, 200, 198, 219, 201]})

print("Original DataFrames:")
print(student_data1)
print("-------------------------------------")
print(student_data2)
print("\nJoin the said two dataframes along rows:")
result_data = pd.concat([student_data1, student_data2])
print(result_data)

Original DataFrames:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
-------------------------------------
  student_id              name  marks
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

Join the said two dataframes along rows:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

In [2]:
print(student_data1['name'])

0    Danniella Fenton
1        Ryder Storey
2        Bryce Jensen
3           Ed Bernal
4         Kwame Morin
Name: name, dtype: object

In [3]:
print(student_data1.loc[1])

student_id              S2
name          Ryder Storey
marks                  210
Name: 1, dtype: object

In [4]:
print(student_data2.loc[2])

student_id             S6
name          Dante Morse
marks                 198
Name: 2, dtype: object

In [5]:
filtered = student_data1[student_data1['marks'] > 200]
print(filtered)

  student_id          name  marks
1         S2  Ryder Storey    210
3         S4     Ed Bernal    222

In [6]:
sorted_ind=student_data1.sort_values('name')
print(sorted_ind)

  student_id              name  marks
2         S3      Bryce Jensen    190
0         S1  Danniella Fenton    200
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
1         S2      Ryder Storey    210

In [7]:
df1= pd.DataFrame({
        'employee': ['bob', 'jake', 'lisa', 'sue'],
         'group': ['Accounting', 'engineering', 'engineering', 'HR'], 
        'hired_date': [2008, 2012, 2014, 2003]})
print(df1)

  employee        group  hired_date
0      bob   Accounting        2008
1     jake  engineering        2012
2     lisa  engineering        2014
3      sue           HR        2003

In [8]:
df2 = pd.DataFrame({
        'group': ['Accounting', 'engineering', 'HR'],
         'supervisor': ['carle', 'guide', 'steve'],
        'hired_date': [2008,2012,2014]})
print(df2)

         group supervisor  hired_date
0   Accounting      carle        2008
1  engineering      guide        2012
2           HR      steve        2014

In [9]:
p=pd.merge(df1,df2)
print(p)

  employee        group  hired_date supervisor
0      bob   Accounting        2008      carle
1     jake  engineering        2012      guide

In [10]:
p=pd.merge(df2,df1)
print(p)

         group supervisor  hired_date employee
0   Accounting      carle        2008      bob
1  engineering      guide        2012     jake

### concat-- It is used to merge two datasets
### loc-- loc property of the DataFrame object allows the return of specified rows  
### sort_values - sorts based on the name
### merge - The merge() method updates the content of two DataFrame by merging them together
### Concat function concatenates dataframes along rows or columns
### Merge combines dataframes based on values in shared columns. Merge function offers more flexibility compared to concat function because it allows combinations based on a condition.